a, a:focus {
    color: #fff;
    font-weight: 500;
}

a:hover {
    color: #979A9A;
}

.bodymainAbout {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../assets/webready/subpages/subpage01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bodymainCharity {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../assets/webready/subpages/subpage02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html, body {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23515151' fill-opacity='0.26'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 52em;
}

.navbar-nav {
    margin-top: -1.3em;
}

.nav-item {
    color: #fff;
    font-weight: 500;
    margin-left: 1em;
}

.navbar-toggler {
    margin-top: -1.5em;
}

.maincontent {
    margin-bottom: 1em;
}

.card {
    margin: 1em;
    text-align: center;
}

.mastfoot {
    text-align: center;
}

.footer-social-links {
    margin-bottom: 1em;
    margin-top: 1em;
}

.tw-ic {
    margin: 1em;
}

.ins-ic {
    margin: 1em;
}

.pin-ic {
    margin: 1em;
}