a, a:focus {
    color: #fff;
    font-weight: 500;
}
a:hover {
    color: #979A9A;
}

.bodymain {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../assets/webready/subpages/subpage01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html, body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 52em;
}

.navbar-nav {
    margin-top: -1.3em;
}

.nav-item {
    color: #fff;
    font-weight: 500;
    margin-left: 1em;
}

.navbar-toggler {
    margin-top: -1.5em;
}

.maincontent {
    margin-bottom: 1em;
}

.card {
    margin: 1em;
    text-align: center;
}

.mastfoot {
    text-align: center;
} 
.footer-social-links {
    margin-bottom: 1em;
} 
.tw-ic {
    margin: 1em;
}
.ins-ic {
    margin: 1em;
}
.pin-ic {
    margin: 1em;
}
